.title {
  margin-left: 2%;
}

.new_user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 2%;
}

.field {
  padding-top: 1.5%;
}

input {
  width: 20%;
}

#user_remember_me {
  width: 1%;
  padding-bottom: 1%;
}

.submit-btn {
  margin-top: 1%;
}

a {
  margin-left: 2%;
}